/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa; /* Color de fondo */
    color: #343a40; /* Color de texto principal */
    margin: 0;
    padding: 0;
    text-align: justify; /* Justificar el texto */
}

.container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: auto; /* Centrar contenido */
}

/* Estilos del navbar */
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #dcdcdc; /* Color al pasar el mouse */
}

.navbar-dark .navbar-brand {
    color: white;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
    color: #dcdcdc; /* Color al pasar el mouse */
}

.dropdown-menu {
    background-color: #343a40; /* Color de fondo del menú desplegable */
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #495057; /* Color de fondo al pasar el mouse */
    color: white;
}

/* Estilos de los contenedores principales */
.p-3 {
    padding: 20px;
    border: none; /* Sin borde */
}

.bg-light {
    background-color: #f8f9fa; /* Color de fondo */
    border-radius: 8px; /* Borde redondeado */
    border: none; /* Sin borde */
}

/* Estilos de la línea horizontal */
.linea-horizontal {
    background-color: black; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interior */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.linea-horizontal .texto {
    text-align: center;
}

/* Estilos del contenedor de la ubicación */
.ubicacion-texto {
    padding: 20px; /* Espaciado interior */
    background-color: #f8f9fa; /* Color de fondo */
    border-radius: 5px; /* Borde redondeado */
    border: none; /* Sin borde */
}

/* Estilos del footer */
.footer {
    background-color: #343a40; /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center;
    padding: 10px; /* Espaciado interior */
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos del botón de WhatsApp */
.whatsapp-btn {
    background-color: #25D366; /* Fondo verde para el botón de WhatsApp */
    color: #FFFFFF; /* Color de texto blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interior */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar */
    display: inline-flex;
    align-items: center;
}

.whatsapp-btn:hover {
    background-color: #128C7E; /* Cambio de color al pasar el mouse */
}

.whatsapp-btn i {
    font-size: 20px; /* Tamaño del ícono */
    margin-right: 10px; /* Espacio entre el ícono y el texto */
}

/* Estilos de las redes sociales */
.contacto-item {
    margin-bottom: 10px; /* Espacio entre elementos */
}

/* Estilos para dispositivos pequeños */
@media (max-width: 767px) {
    .contactos-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contacto-item a {
        display: block;
        margin: 5px 0;
    }

    .whatsapp-btn {
        width: 100%;
        text-align: center;
    }
}

/* Colores */
body {
    color: #333333; /* Texto principal en gris oscuro */
    background-color: #FFFFFF; /* Fondo blanco */
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #FFFFFF; /* Color de texto para el navbar */
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: #f8f9fa; /* Color de texto al pasar el mouse en el navbar */
}

.linea-horizontal {
    background-color: #000000; /* Fondo negro para la línea horizontal */
    color: #FFFFFF; /* Color de texto blanco para la línea horizontal */
}

.ubicacion-texto {
    background-color: #f8f9fa; /* Fondo gris claro para la sección de ubicación */
    color: #333333; /* Color de texto principal en gris oscuro para la sección de ubicación */
}

/* Fuentes */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif; /* Títulos con Montserrat */
}

p, li, span {
    font-family: 'Open Sans', sans-serif; /* Texto con Open Sans */
}

/* Estilos para reducir el tamaño de las imágenes en los contenedores */
.col img {
    width: 60%; /* Reducir el ancho de las imágenes al 60% */
    height: auto; /* Mantener la proporción de la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Ajustes para el carrusel */
.carousel-inner img {
    width: 100%; /* Ajustar el ancho de las imágenes dentro del carrusel */
    height: auto; /* Mantener la proporción de la imagen */
}

.carousel {
    margin: 0 auto; /* Centrar el carrusel horizontalmente */
    max-width: 80%; /* Ajustar el ancho máximo del carrusel */
}

/* Reducir el tamaño de las imágenes dentro de las columnas */
.col-md-6 img {
    max-width: 80%; /* Ajustar el ancho máximo de las imágenes al 80% del contenedor */
    height: auto; /* Mantener la proporción de la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
